
		body{
			margin: 0;
			padding: 0;
			background: #000;
			color: #fff;
			font-family: Arial;
			font-size: 12px;
			}
		a {
			text-decoration: none;
		  } 
			 [type=submit]{
             width: 250px;
             height: 30px;
             background: transparent;
             border: 1px solid rgba(255,255,255,0.6);
             border-radius: 2px;
             color: #fff;
             font-family: ."Exo"., sans-serif;
             font-size: 16px;
             font-weight: 400;
             padding: 4px;
            }
			 [type=text]{
             width: 250px;
             height: 30px;
             background: transparent;
             border: 1px solid rgba(255,255,255,0.6);
             border-radius: 2px;
             color: #fff;
             font-family: ."Exo"., sans-serif;
             font-size: 16px;
             font-weight: 400;
             padding: 4px;
            }
